name: Upload artifact

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run tests
      run: sbt package
    - name: Upload artifact
    uses: actions/upload-artifact@v1.0.0
    with:
      uses: actions/setup-java@v1
      # Artifact name
      name: vegas_2.11-0.3.13.01-scala2.11.0.jar
      # Directory containing files to upload
      path: core/target/scala-2.11
